Infrastructure/Service References/TelhaNorteService/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:HDR1="http://10.199.68.30:5555/SGDBServicesAPI/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://i99sv422eai1d/SGDBServicesAPI.API.SOAP:Services" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns1="http://10.199.68.30/SGDBServicesAPI.API.SOAP:Services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="Services" targetNamespace="http://10.199.68.30/SGDBServicesAPI.API.SOAP:Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://10.199.68.30:5555/SGDBServicesAPI/" targetNamespace="http://10.199.68.30:5555/SGDBServicesAPI/">
      <xsd:element name="auth" type="tns:headerDTO" />
      <xsd:complexType name="headerDTO">
        <xsd:sequence>
          <xsd:element name="AppKey" nillable="true" type="xsd:token" />
          <xsd:element name="dateTime" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:tns2="http://10.199.68.30/SGDBServicesAPI.API.SOAP:Services" targetNamespace="http://10.199.68.30/SGDBServicesAPI.API.SOAP:Services">
      <xsd:element name="activateOffer_Request" type="tns2:activateOffer_Request" />
      <xsd:element name="activateOffer_Response" type="tns2:activateOffer_Response" />
      <xsd:element name="createUpdateCustomer_Request" type="tns2:createUpdateCustomer_Request" />
      <xsd:element name="createUpdateCustomer_Response" type="tns2:createUpdateCustomer_Response" />
      <xsd:element name="getCustomerByDocumentID_Request" type="tns2:getCustomerByDocumentID_Request" />
      <xsd:element name="getCustomerByDocumentID_Response" type="tns2:getCustomerByDocumentID_Response" />
      <xsd:element name="getOrdersByDocumentID_Request" type="tns2:getOrdersByDocumentID_Request" />
      <xsd:element name="getOrdersByDocumentID_Response" type="tns2:getOrdersByDocumentID_Response" />
      <xsd:complexType name="activateOffer_Request">
        <xsd:sequence>
          <xsd:element name="OfferDTO" nillable="true" type="tns2:offerDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="offerDTO">
        <xsd:sequence>
          <xsd:element name="Offer" nillable="true" type="tns2:Offer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Offer">
        <xsd:sequence>
          <xsd:element name="documentID" nillable="true" type="tns2:documentID" />
          <xsd:element name="idGroupOffer" nillable="true" type="tns2:idGroupOffer" />
          <xsd:element name="skuID" nillable="true" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="documentID">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="11" />
          <xsd:maxLength value="14" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="idGroupOffer">
        <xsd:restriction base="xsd:string">
          <xsd:length value="20" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="activateOffer_Response">
        <xsd:sequence>
          <xsd:element name="ReturnDTO" nillable="true" type="tns2:returnDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="returnDTO">
        <xsd:sequence>
          <xsd:element name="status" nillable="true" type="tns2:status" />
          <xsd:element minOccurs="0" name="idControl" nillable="true" type="xsd:decimal" />
          <xsd:element name="processMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="false" />
          <xsd:enumeration value="true" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="createUpdateCustomer_Request">
        <xsd:sequence>
          <xsd:element name="CustomerDTO" nillable="true" type="tns2:customerDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customerDTO">
        <xsd:sequence>
          <xsd:element name="Customer" nillable="true" type="tns2:Customer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element name="documentID" nillable="true" type="tns2:documentID2" />
          <xsd:element name="name" nillable="true" type="tns2:name" />
          <xsd:element name="gender" nillable="true" type="tns2:gender" />
          <xsd:element name="dateOfBirth" nillable="true" type="xsd:date" />
          <xsd:element name="rg" nillable="true" type="tns2:rg" />
          <xsd:element name="placeOfBirth" nillable="true" type="tns2:placeOfBirth" />
          <xsd:element minOccurs="0" name="nationality" nillable="true" type="tns2:nationality" />
          <xsd:element name="homePhone" nillable="true" type="tns2:homePhone" />
          <xsd:element name="mobilePhone" nillable="true" type="tns2:mobilePhone" />
          <xsd:element name="smsOptin" nillable="true" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="professionalActivity" nillable="true" type="xsd:int" />
          <xsd:element name="email" nillable="true" type="tns2:email" />
          <xsd:element name="Address" nillable="true" type="tns2:Address" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="documentID2">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="11" />
          <xsd:maxLength value="14" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="name">
        <xsd:restriction base="xsd:string">
          <xsd:length value="50" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="gender">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="M" />
          <xsd:enumeration value="F" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="rg">
        <xsd:restriction base="xsd:string">
          <xsd:length value="13" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="placeOfBirth">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AC" />
          <xsd:enumeration value="AL" />
          <xsd:enumeration value="AP" />
          <xsd:enumeration value="AM" />
          <xsd:enumeration value="BA" />
          <xsd:enumeration value="CE" />
          <xsd:enumeration value="DF" />
          <xsd:enumeration value="ES" />
          <xsd:enumeration value="GO" />
          <xsd:enumeration value="MA" />
          <xsd:enumeration value="MT" />
          <xsd:enumeration value="MS" />
          <xsd:enumeration value="MG" />
          <xsd:enumeration value="PA" />
          <xsd:enumeration value="PB" />
          <xsd:enumeration value="PR" />
          <xsd:enumeration value="PE" />
          <xsd:enumeration value="PI" />
          <xsd:enumeration value="RJ" />
          <xsd:enumeration value="RN" />
          <xsd:enumeration value="RS" />
          <xsd:enumeration value="RO" />
          <xsd:enumeration value="RR" />
          <xsd:enumeration value="SC" />
          <xsd:enumeration value="SP" />
          <xsd:enumeration value="SE" />
          <xsd:enumeration value="TO" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="nationality">
        <xsd:restriction base="xsd:string">
          <xsd:length value="4" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="homePhone">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{2}9?[0-9]{4}[0-9]{4}" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="mobilePhone">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{2}9?[0-9]{4}[0-9]{4}" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="email">
        <xsd:restriction base="xsd:string">
          <xsd:length value="200" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element name="zipCode" nillable="true" type="tns2:zipCode" />
          <xsd:element name="name" nillable="true" type="tns2:name2" />
          <xsd:element name="number" nillable="true" type="xsd:int" />
          <xsd:element name="complement" nillable="true" type="tns2:complement" />
          <xsd:element name="neighborhood" nillable="true" type="tns2:neighborhood" />
          <xsd:element name="city" nillable="true" type="tns2:city" />
          <xsd:element name="state" nillable="true" type="tns2:state" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="zipCode">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="8" />
          <xsd:maxLength value="8" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="name2">
        <xsd:restriction base="xsd:string">
          <xsd:length value="60" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="complement">
        <xsd:restriction base="xsd:string">
          <xsd:length value="20" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="neighborhood">
        <xsd:restriction base="xsd:string">
          <xsd:length value="72" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="city">
        <xsd:restriction base="xsd:string">
          <xsd:length value="50" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="state">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AC" />
          <xsd:enumeration value="AL" />
          <xsd:enumeration value="AP" />
          <xsd:enumeration value="AM" />
          <xsd:enumeration value="BA" />
          <xsd:enumeration value="CE" />
          <xsd:enumeration value="DF" />
          <xsd:enumeration value="ES" />
          <xsd:enumeration value="GO" />
          <xsd:enumeration value="MA" />
          <xsd:enumeration value="MT" />
          <xsd:enumeration value="MS" />
          <xsd:enumeration value="MG" />
          <xsd:enumeration value="PA" />
          <xsd:enumeration value="PB" />
          <xsd:enumeration value="PR" />
          <xsd:enumeration value="PE" />
          <xsd:enumeration value="PI" />
          <xsd:enumeration value="RJ" />
          <xsd:enumeration value="RN" />
          <xsd:enumeration value="RS" />
          <xsd:enumeration value="RO" />
          <xsd:enumeration value="RR" />
          <xsd:enumeration value="SC" />
          <xsd:enumeration value="SP" />
          <xsd:enumeration value="SE" />
          <xsd:enumeration value="TO" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="createUpdateCustomer_Response">
        <xsd:sequence>
          <xsd:element name="ReturnDTO" nillable="true" type="tns2:returnDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCustomerByDocumentID_Request">
        <xsd:sequence>
          <xsd:element name="documentID" nillable="true" type="tns2:documentID3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="documentID3">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="11" />
          <xsd:maxLength value="14" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="getCustomerByDocumentID_Response">
        <xsd:sequence>
          <xsd:element name="CustomerDTO" nillable="true" type="tns2:customerDTO" />
          <xsd:element name="ReturnDTO" nillable="true" type="tns2:returnDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getOrdersByDocumentID_Request">
        <xsd:sequence>
          <xsd:element name="documentID" nillable="true" type="tns2:documentID4" />
          <xsd:element minOccurs="0" name="referenceDateTime" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="pageNumber" nillable="true" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="documentID4">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="11" />
          <xsd:maxLength value="14" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="getOrdersByDocumentID_Response">
        <xsd:sequence>
          <xsd:element name="OrdersDTO" nillable="true" type="tns2:ordersDTO" />
          <xsd:element name="ReturnDTO" nillable="true" type="tns2:returnDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ordersDTO">
        <xsd:sequence>
          <xsd:element name="ListOfOrders" nillable="true" type="tns2:ListOfOrders" />
          <xsd:element name="Paging" nillable="true" type="tns2:Paging" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfOrders">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Orders" nillable="true" type="tns2:Orders" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Orders">
        <xsd:sequence>
          <xsd:element name="numDocument" nillable="true" type="xsd:int" />
          <xsd:element name="idCompany" nillable="true" type="xsd:int" />
          <xsd:element name="companyName" nillable="true" type="tns2:companyName" />
          <xsd:element name="shippingType" nillable="true" type="tns2:shippingType" />
          <xsd:element name="date" nillable="true" type="xsd:date" />
          <xsd:element name="totalOrder" nillable="true" type="xsd:decimal" />
          <xsd:element name="status" nillable="true" type="tns2:status2" />
          <xsd:element name="ListOfItems" nillable="true" type="tns2:ListOfItems" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="companyName">
        <xsd:restriction base="xsd:string">
          <xsd:length value="100" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="shippingType">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="status2">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ListOfItems">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Items" nillable="true" type="tns2:Items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Items">
        <xsd:sequence>
          <xsd:element name="skuID" nillable="true" type="xsd:int" />
          <xsd:element name="productName" nillable="true" type="tns2:productName" />
          <xsd:element name="categoryLevel1" nillable="true" type="tns2:categoryLevel1" />
          <xsd:element name="categoryLevel2" nillable="true" type="tns2:categoryLevel2" />
          <xsd:element name="categoryLevel3" nillable="true" type="tns2:categoryLevel3" />
          <xsd:element name="categoryLevel4" nillable="true" type="tns2:categoryLevel4" />
          <xsd:element name="categoryLevel5" nillable="true" type="tns2:categoryLevel5" />
          <xsd:element name="categoryLevel6" nillable="true" type="tns2:categoryLevel6" />
          <xsd:element name="EAN" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="manufacturingLot" nillable="true" type="tns2:manufacturingLot" />
          <xsd:element name="quantity" nillable="true" type="xsd:decimal" />
          <xsd:element name="price" nillable="true" type="xsd:decimal" />
          <xsd:element name="discount" nillable="true" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="productName">
        <xsd:restriction base="xsd:string">
          <xsd:length value="100" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="categoryLevel1">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="categoryLevel2">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="categoryLevel3">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="categoryLevel4">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="categoryLevel5">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="categoryLevel6">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="manufacturingLot">
        <xsd:restriction base="xsd:string">
          <xsd:length value="30" />
          <xsd:whiteSpace value="preserve" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Paging">
        <xsd:sequence>
          <xsd:element name="total" nillable="true" type="xsd:int" />
          <xsd:element name="currentPage" nillable="true" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Services_PortType_createUpdateCustomer_Request">
    <wsdl:part name="parameters" element="tns1:createUpdateCustomer_Request" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_getCustomerByDocumentID_Response">
    <wsdl:part name="parameters" element="tns1:getCustomerByDocumentID_Response" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_activateOffer_Response">
    <wsdl:part name="parameters" element="tns1:activateOffer_Response" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_getCustomerByDocumentID_Request">
    <wsdl:part name="parameters" element="tns1:getCustomerByDocumentID_Request" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_activateOffer_Request">
    <wsdl:part name="parameters" element="tns1:activateOffer_Request" />
  </wsdl:message>
  <wsdl:message name="SGDBServicesAPI_API_docTypes_headerDTO">
    <wsdl:part name="parameters" element="HDR1:auth" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_getOrdersByDocumentID_Response">
    <wsdl:part name="parameters" element="tns1:getOrdersByDocumentID_Response" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_getOrdersByDocumentID_Request">
    <wsdl:part name="parameters" element="tns1:getOrdersByDocumentID_Request" />
  </wsdl:message>
  <wsdl:message name="Services_PortType_createUpdateCustomer_Response">
    <wsdl:part name="parameters" element="tns1:createUpdateCustomer_Response" />
  </wsdl:message>
  <wsdl:portType name="Services_PortType">
    <wsdl:operation name="activateOffer">
      <wsdl:input message="tns1:Services_PortType_activateOffer_Request" />
      <wsdl:output message="tns1:Services_PortType_activateOffer_Response" />
    </wsdl:operation>
    <wsdl:operation name="getOrdersByDocumentID">
      <wsdl:input message="tns1:Services_PortType_getOrdersByDocumentID_Request" />
      <wsdl:output message="tns1:Services_PortType_getOrdersByDocumentID_Response" />
    </wsdl:operation>
    <wsdl:operation name="createUpdateCustomer">
      <wsdl:input message="tns1:Services_PortType_createUpdateCustomer_Request" />
      <wsdl:output message="tns1:Services_PortType_createUpdateCustomer_Response" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerByDocumentID">
      <wsdl:input message="tns1:Services_PortType_getCustomerByDocumentID_Request" />
      <wsdl:output message="tns1:Services_PortType_getCustomerByDocumentID_Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SGDBServicesAPI_API_SOAP_Services_Binder" type="tns1:Services_PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="activateOffer">
      <soap12:operation soapAction="SGDBServicesAPI_API_SOAP_Services_Binder_activateOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns1:SGDBServicesAPI_API_docTypes_headerDTO" part="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrdersByDocumentID">
      <soap12:operation soapAction="SGDBServicesAPI_API_SOAP_Services_Binder_getOrdersByDocumentID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns1:SGDBServicesAPI_API_docTypes_headerDTO" part="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUpdateCustomer">
      <soap12:operation soapAction="SGDBServicesAPI_API_SOAP_Services_Binder_createUpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns1:SGDBServicesAPI_API_docTypes_headerDTO" part="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerByDocumentID">
      <soap12:operation soapAction="SGDBServicesAPI_API_SOAP_Services_Binder_getCustomerByDocumentID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns1:SGDBServicesAPI_API_docTypes_headerDTO" part="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="SGDBServicesAPI_API_SOAP_Services_Port" binding="tns1:SGDBServicesAPI_API_SOAP_Services_Binder">
      <soap12:address location="https://api.saint-gobain.com/sgdsi/br/telha/sgdbapi/004" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>